{{ define "content" }}
<article class="{{ if eq .Page.SrcName "index" }}hide-anchors{{end}}">
 <h1>{{ .Page.Frontmatter.Title }}</h1>
 {{ if .Page.Frontmatter.Date }}
 <div class="post-metadata">
  <div class="post-date">
   {{ .Page.Frontmatter.Date }}
  </div>
  <div class="post-tags">
   {{ if .Page.Tags }}
   {{ range .Page.Tags }}
   <a href="{{ .Href }}" class="post-tag">{{ .Name }}</a>
   {{ end }}
   {{ end }}
  </div>
 </div>
 {{ end }}
 {{ if .Page.Series }}
 <div class="content">
  <div style="font-weight: 500;" class="series-header">This article is part of my "{{ .Page.Series }}" series

   <img src="/assets/rss.png" width="20" height="20" />
  </div>
  <div class="series-card">

   <ul>
    {{ $currentPage := .Page }}
    {{ range FilterPages .Site.AllPages .Page.Series }}
    <li style="display: flex; justify-content: space-between; align-items: center; ">
     <a href="{{ .Href }}" class="{{ if eq .Href $currentPage.Href }}active{{ end }}">
      {{ .Frontmatter.Title }}
     </a>
     <span class="series-post-date"> {{ .Frontmatter.Date }}</span>
    </li>
    {{ end }}
   </ul>
   {{ end }}

  </div>
  {{ .Page.Html }}
 </div>
 {{ if ne .Page.SrcName "index" }}
 {{ template "github-page" . }}
 {{ end }}
</article>
{{ end }}