{{ define "content" }}
<article class="{{ if eq .Page.SrcName "index.md" }}hide-anchors{{end}}">
 <h1>{{ .Page.Frontmatter.Title }}</h1>
 {{ if .Page.Frontmatter.Date }}
 <div class="post-metadata">
  <div class="post-date">
   {{ .Page.Frontmatter.Date }}
  </div>
  <div class="post-tags">
   {{ if .Page.Tags }}
   <span>Filed Under</span>
   {{ range .Page.Tags }}
   <a href="{{ .Href }}" class="post-tag">{{ .Name }}</a>
   {{ end }}
   {{ end }}
  </div>
 </div>
 {{ end }}
 <div>
  {{ .Page.Html }}
 </div>
 {{ if ne .Page.SrcName "index.md" }}
 {{ template "github-page" . }}
 {{ end }}
</article>
{{ end }}