<!DOCTYPE html>
<html lang="en">

<head>
 {{ $title := "" }}
 {{ if eq .Type "list" }}
 {{ $title = .List.Name }}
 {{ else if and (eq .Type "page") (ne .Page.Frontmatter.Title "David Uzondu") }}
 {{ $title = .Page.Frontmatter.Title }}
 {{ else if eq .Type "tag" }}
 {{ $title = .Tag.Title }}
 {{ end }}
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <head>
  <link rel="icon" href="{{ .Site.Favicon }}" type="image/x-icon">
  <!-- Basic Meta Tags -->
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Site.Description }}" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/46460041?v=4" />
  <meta property="og:url" content="{{ .Site.BaseUrl}}" />
  <meta property="og:type" content="website" />
  <meta property="og:logo" content="{{ .Site.BaseUrl}}" />
  <link rel="stylesheet" href="/public/style.css">
  <!-- Optional Meta Tags -->
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:locale" content="en_US" />
  <title>{{ $title }}</title>
 </head>
</head>

<body>
 <div class="loading">
  <div class="progress-bar"></div>
 </div>
 {{template "nav" .}}
 <main>{{block "content" .}}File not found{{end}}</main>

 <script>
  window.onload = function () {
   document.querySelector(".loading").style.display = "none";
  };

  window.addEventListener('pagehide', function () {
   document.querySelector(".loading").style.display = "none";
  })

  document.querySelectorAll('a').forEach(entry => {
   if (!entry.href.includes("#") && entry.href.includes(location.host)) {
    entry.addEventListener("click", e => {
     document.querySelector(".loading").style.display = "bFlock"
    });
   }
  });
 </script>
</body>

</html>